body{
    background-color: grey;
}

.navbar{
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-brand{
    background-color: teal;
    padding: 10px 20px;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover{
    color: white;
}

.nav-item{
    border-right: 1px solid lightgrey;
}

.nav-link{
    padding: 0;
}

@media (max-width:991px){
    .navbar .container-lg,
    .navbar-brand{
        display:block;

    }

    .navbar{
        padding: 0;
    }

    .navbar-brand{
        margin-right: 0;
    }

    .navbar-nav{
        flex-direction: row;
        justify-content: center;
    }

}
main{
    background-color: lightgrey;

}

main .container{
    padding-top: 40px;
    padding-bottom: 40px;

}

.content-box{
    background-color: white;
    padding: 20px;
    color: black;
}


footer{
    text-align: center;
    background-color: grey;
    color: white;
    border-top: teal 5px solid;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: smaller;

}